/* This if  inside django admin */
.submit-row a {
  box-sizing: content-box;
}

/* Scroll Bar */
.section-draceditor ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.section-draceditor ::-webkit-scrollbar{
	width: 6px;
	background-color: #F5F5F5;
}
.section-draceditor ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.main-draceditor {
  max-width: 100%;
  position: relative;
  margin: 10px 0;
  max-height: 700px;
}
.draceditor-toolbar {
  clear: both;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 2px #ddd;
  -webkit-box-shadow: 0 2px 2px #ddd;
  -moz-box-shadow: 0 2px 2px #ddd;
  -o-box-shadow: 0 2px 2px #ddd;
  -ms-box-shadow: 0 2px 2px #ddd;
  border-top: 1px solid #f9f9f9;
  margin-bottom: 2px;
}
.draceditor-toolbar .ui.icon .markdown-image-upload {
  position: relative;
  overflow: hidden;
}
.draceditor-toolbar .ui.icon .markdown-image-upload input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 25px;
  padding: 0;
  padding-left: 35px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}

.section-draceditor {
  position: relative;
}


.draceditor {
  height: 500px;
  max-height: 500px;
}
#editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
}

#preview {
  margin: 0;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  overflow: auto;
  background: #F9F9F9;
}

@media print {
    #editor {
        display: none;
    }

    #preview {
        left: 0;
    }
}
.ui.segment.emoji-loader-init {
  padding: 5em;
}
.insert-emoji {
  cursor: pointer;
  white-space: nowrap;
}
.marked-emoji,
.main-draceditor .markdown-preview .marked-emoji {
  max-width: 20px;
}
.main-draceditor .markdown-preview{font-size:14px;line-height:1.6;}
.main-draceditor .markdown-preview>*:first-child{margin-top:0 !important}
.main-draceditor .markdown-preview>*:last-child{margin-bottom:20px !important}
.main-draceditor .markdown-preview a.absent{color:#c00}
.main-draceditor .markdown-preview a.anchor{display:block;padding-left:30px;margin-left:-30px;cursor:pointer;position:absolute;top:0;left:0;bottom:0}
.main-draceditor .markdown-preview h1,
.main-draceditor .markdown-preview h2,
.main-draceditor .markdown-preview h3,
.main-draceditor .markdown-preview h4,
.main-draceditor .markdown-preview h5,
.main-draceditor .markdown-preview h6{margin:20px 0 10px;padding:0;font-weight:bold;-webkit-font-smoothing:antialiased;cursor:text;position:relative}

.main-draceditor .markdown-preview h1:hover a.anchor,
.main-draceditor .markdown-preview h2:hover a.anchor,
.main-draceditor .markdown-preview h3:hover a.anchor,
.main-draceditor .markdown-preview h4:hover a.anchor,
.main-draceditor .markdown-preview h5:hover a.anchor,
.main-draceditor .markdown-preview h6:hover a.anchor{text-decoration:none;line-height:1;padding-left:0;margin-left:-22px;top:15%}

.main-draceditor .markdown-preview h1 tt,
.main-draceditor .markdown-preview h1 code,
.main-draceditor .markdown-preview h2 tt,
.main-draceditor .markdown-preview h2 code,
.main-draceditor .markdown-preview h3 tt,
.main-draceditor .markdown-preview h3 code,
.main-draceditor .markdown-preview h4 tt,
.main-draceditor .markdown-preview h4 code,
.main-draceditor .markdown-preview h5 tt,
.main-draceditor .markdown-preview h5 code,
.main-draceditor .markdown-preview h6 tt,
.main-draceditor .markdown-preview h6 code{font-size:inherit}

.main-draceditor .markdown-preview h1{font-size:28px;color:#000}
.main-draceditor .markdown-preview h2{font-size:24px;border-bottom:1px solid #ccc;color:#000}
.main-draceditor .markdown-preview h3{font-size:18px}
.main-draceditor .markdown-preview h4{font-size:16px}
.main-draceditor .markdown-preview h5{font-size:14px}
.main-draceditor .markdown-preview h6{color:#777;font-size:14px}
.main-draceditor .markdown-preview p,
.main-draceditor .markdown-preview blockquote,
.main-draceditor .markdown-preview ul,
.main-draceditor .markdown-preview ol,
.main-draceditor .markdown-preview dl,
.main-draceditor .markdown-preview table,
.main-draceditor .markdown-preview pre{margin:15px 0}
.main-draceditor .markdown-preview hr{
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OENDRjNBN0E2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OENDRjNBN0I2NTZBMTFFMEI3QjRBODM4NzJDMjlGNDgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Q0NGM0E3ODY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4Q0NGM0E3OTY1NkExMUUwQjdCNEE4Mzg3MkMyOUY0OCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqqezsUAAAAfSURBVHjaYmRABcYwBiM2QSA4y4hNEKYDQxAEAAIMAHNGAzhkPOlYAAAAAElFTkSuQmCC) repeat-x 0 0;
  border:0 none;
  color:#ccc;
  height:4px;
  padding:0
}
.main-draceditor .markdown-preview>h2:first-child,
.main-draceditor .markdown-preview>h1:first-child,
.main-draceditor .markdown-preview>h1:first-child+h2,
.main-draceditor .markdown-preview>h3:first-child,
.main-draceditor .markdown-preview>h4:first-child,
.main-draceditor .markdown-preview>h5:first-child,
.main-draceditor .markdown-preview>h6:first-child{margin-top:0;padding-top:0}
.main-draceditor .markdown-preview a:first-child h1,
.main-draceditor .markdown-preview a:first-child h2,
.main-draceditor .markdown-preview a:first-child h3,
.main-draceditor .markdown-preview a:first-child h4,
.main-draceditor .markdown-preview a:first-child h5,
.main-draceditor .markdown-preview a:first-child h6{margin-top:0;padding-top:0}
.main-draceditor .markdown-preview h1+p,
.main-draceditor .markdown-preview h2+p,
.main-draceditor .markdown-preview h3+p,
.main-draceditor .markdown-preview h4+p,
.main-draceditor .markdown-preview h5+p,
.main-draceditor .markdown-preview h6+p{margin-top:0}
.main-draceditor .markdown-preview li p.first{display:inline-block}
.main-draceditor .markdown-preview ul li {list-style: disc;}
.main-draceditor .markdown-preview ul,
.main-draceditor .markdown-preview ol{padding-left:30px}
.main-draceditor .markdown-preview ul.no-list,
.main-draceditor .markdown-preview ol.no-list{list-style-type:none;padding:0}
.main-draceditor .markdown-preview ul li>:first-child,
.main-draceditor .markdown-preview ul li ul:first-of-type,
.main-draceditor .markdown-preview ol li>:first-child,
.main-draceditor .markdown-preview ol li ul:first-of-type{margin-top:0px}
.main-draceditor .markdown-preview ul ul,
.main-draceditor .markdown-preview ul ol,
.main-draceditor .markdown-preview ol ol,
.main-draceditor .markdown-preview ol ul{margin-bottom:0}
.main-draceditor .markdown-preview dl{padding:0}
.main-draceditor .markdown-preview dl dt{font-size:14px;font-weight:bold;font-style:italic;padding:0;margin:15px 0 5px}
.main-draceditor .markdown-preview dl dt:first-child{padding:0}
.main-draceditor .markdown-preview dl dt>:first-child{margin-top:0px}
.main-draceditor .markdown-preview dl dt>:last-child{margin-bottom:0px}
.main-draceditor .markdown-preview dl dd{margin:0 0 15px;padding:0 15px}
.main-draceditor .markdown-preview dl dd>:first-child{margin-top:0px}
.main-draceditor .markdown-preview dl dd>:last-child{margin-bottom:0px}
.main-draceditor .markdown-preview blockquote{border-left:4px solid #DDD;padding:0 15px;color:#777;background-color: #f0f0f0}
.main-draceditor .markdown-preview blockquote>:first-child{margin-top:0px}
.main-draceditor .markdown-preview blockquote>:last-child{margin-bottom:0px}
.main-draceditor .markdown-preview table th{font-weight:bold}
.main-draceditor .markdown-preview table th,
.main-draceditor .markdown-preview table td{border:1px solid #ccc;padding:6px 13px}
.main-draceditor .markdown-preview table tr{border-top:1px solid #ccc;background-color:#fff}
.main-draceditor .markdown-preview table tr:nth-child(2n){background-color:#f8f8f8}
.main-draceditor .markdown-preview img{max-width:100%;-moz-box-sizing:border-box;box-sizing:border-box}
.main-draceditor .markdown-preview span.frame{display:block;overflow:hidden}
.main-draceditor .markdown-preview span.frame>span{border:1px solid #ddd;display:block;float:left;overflow:hidden;margin:13px 0 0;padding:7px;width:auto}
.main-draceditor .markdown-preview span.frame span img{display:block;float:left}
.main-draceditor .markdown-preview span.frame span span{clear:both;color:#333;display:block;padding:5px 0 0}
.main-draceditor .markdown-preview span.align-center{display:block;overflow:hidden;clear:both}
.main-draceditor .markdown-preview span.align-center>span{display:block;overflow:hidden;margin:13px auto 0;text-align:center}
.main-draceditor .markdown-preview span.align-center span img{margin:0 auto;text-align:center}
.main-draceditor .markdown-preview span.align-right{display:block;overflow:hidden;clear:both}
.main-draceditor .markdown-preview span.align-right>span{display:block;overflow:hidden;margin:13px 0 0;text-align:right}
.main-draceditor .markdown-preview span.align-right span img{margin:0;text-align:right}
.main-draceditor .markdown-preview span.float-left{display:block;margin-right:13px;overflow:hidden;float:left}
.main-draceditor .markdown-preview span.float-left span{margin:13px 0 0}
.main-draceditor .markdown-preview span.float-right{display:block;margin-left:13px;overflow:hidden;float:right}
.main-draceditor .markdown-preview span.float-right>span{display:block;overflow:hidden;margin:13px auto 0;text-align:right}
.main-draceditor .markdown-preview code,
.main-draceditor .markdown-preview tt{margin:0 2px;padding:0px 5px;border:1px solid #eaeaea;background-color:#f8f8f8;border-radius:3px}
.main-draceditor .markdown-preview code{white-space:nowrap}
.main-draceditor .markdown-preview pre>code{margin:0;padding:0;white-space:pre;border:none;background:transparent}
.main-draceditor .markdown-preview .highlight pre,
.main-draceditor .markdown-preview pre{background-color:#f8f8f8;border:1px solid #ccc;font-size:13px;line-height:19px;overflow:auto;padding:6px 10px;border-radius:3px}
.main-draceditor .markdown-preview pre code,
.main-draceditor .markdown-preview pre tt{margin:0;padding:0;background-color:transparent;border:none}
