{% load static %}<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>{% block title %}Martor{% endblock %}</title>
  <link href="{% static 'plugins/css/semantic.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <style>.main-container {margin-top: 5em}</style>
  {% block css %}{% endblock %}
</head>
<body>
  <header>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item">Martor</div>
        <div class="ui dropdown item" tabindex="0">Choose Demo
          <i class="dropdown icon"></i>
          <div class="menu transition hidden" tabindex="-1">
            <a href="{% url 'simple_form' %}" class="item">Simple Form</a>
            <a href="{% url 'post_form' %}" class="item">Post Form (login require)</a>
            <a href="{% url 'test_markdownify' %}" class="item">Test Markdownify</a>
          </div>
        </div>
        <div class="right menu">
          <a class="item" href="https://github.com/agusmakmun/django-markdown-editor" target="_blank">
            <i class="github icon"></i> Github
          </a>
        </div>
      </div>
    </div>
  </header>

  <div class="ui container main-container">
    <div class="ui segment">
      {% block messages %}
        {% if messages %}
          <div class="messages">
            {% for message in messages %}
              <div class="ui {% if message.tags %}{{ message.tags }}{% else %}info{% endif %} message">
                <p>{{ message }</p>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endblock %}

      {% block content %}{% endblock %}
    </div>
  </div>

  <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/semantic.min.js' %}"></script>
  <script>$('.ui.menu .ui.dropdown.item').dropdown();</script>
  {% block js %}{% endblock %}
</body>
</html>
