<!DOCTYPE html>
<html>
    <head>
      <title></title>
      <link rel="stylesheet" href="uikit.min.css" />
      <script src="jquery.js"></script>
      <script src="uikit.min.js"></script>

      <!-- Codemirror and marked dependencies -->
      <link rel="stylesheet" href="codemirror/lib/codemirror.css">
      <script src="codemirror/lib/codemirror.js"></script>
      <script src="codemirror/mode/markdown/markdown.js"></script>
      <script src="codemirror/addon/mode/overlay.js"></script>
      <script src="codemirror/mode/xml/xml.js"></script>
      <script src="codemirror/mode/gfm/gfm.js"></script>
      <script src="marked.js"></script>

      <!-- HTML editor CSS and JavaScript -->
      <link rel="stylesheet" href="htmleditor.css">
      <script src="htmleditor.js"></script>
    </head>
    <body>
      <textarea data-uk-htmleditor="{markdown:true}">...</textarea>
    </body>
</html>
