<div class="two fields draceditor-toolbar">
  <div class="field left-toolbar">
    <div class="ui basic icon buttons">
      <div class="ui icon button markdown-bold" data-tooltip="Bold (Ctrl+B)" data-position="top left">
        <i class="bold icon"></i>
      </div>
      <div class="ui icon button markdown-italic" data-tooltip="Italic (Ctrl+I)" data-position="top center">
        <i class="italic icon"></i>
      </div>
      <div class="ui icon button markdown-horizontal" data-tooltip="Horizontal Line (Ctrl+H)" data-position="top center">
        <i class="minus icon"></i>
      </div>
      <div class="ui icon top left pointing dropdown button" data-tooltip="Heading" data-position="top center">
        <i class="header icon"></i>
        <div class="menu">
          <div class="item markdown-h1">Heading 1 (Ctrl+Alt+1)</div>
          <div class="item markdown-h2">Heading 2 (Ctrl+Alt+2)</div>
          <div class="item markdown-h3">Heading 3 (Ctrl+Alt+3)</div>
        </div>
      </div>
    </div>

    <div class="ui basic icon buttons">
      <div class="ui icon top left pointing dropdown button" data-tooltip="Pre or Code" data-position="top center">
        <i class="code icon"></i>
        <div class="menu">
          <div class="item markdown-pre">Pre (Ctrl+Alt+P)</div>
          <div class="item markdown-code">Code (Ctrl+Alt+C)</div>
        </div>
      </div>
      <div class="ui icon button markdown-blockquote" data-tooltip="Quote (Ctrl+Q)" data-position="top center">
        <i class="quote left icon"></i>
      </div>
      <div class="ui icon button markdown-unordered-list" data-tooltip="Unordered List (Ctrl+U)" data-position="top center">
        <i class="unordered list icon"></i>
      </div>
      <div class="ui icon button markdown-ordered-list" data-tooltip="Ordered List (Ctrl+Shift+O)" data-position="top center">
        <i class="ordered list icon"></i>
      </div>
    </div>

    <div class="ui basic icon buttons">
      <div class="ui icon button markdown-link" data-tooltip="URL/Link (Ctrl+L)" data-position="top center">
        <i class="linkify icon"></i>
      </div>
      <div class="ui icon button markdown-image-link" data-tooltip="Insert Image Link (Ctrl+Shift+I)" data-position="top center">
        <i class="image icon"></i>
      </div>
      <div class="ui icon button markdown-image-upload">
        <i class="cloud upload icon"></i>
        <input name="markdown-image-upload" class="button input-tooltip" type="file" accept="image/*" title="Upload an Image" data-tooltip="Upload an Image" data-position="top right">
      </div>
    </div>
    <div class="ui basic icon buttons">
      <div class="ui icon button markdown-emoji" data-tooltip="Insert Emoji" data-position="top center">
        <i class="smile icon"></i>
      </div>
      <div class="ui icon button markdown-direct-mention" data-tooltip="Direct Mention a User (Ctrl+M)" data-position="top center">
        <i class="at icon"></i>
      </div>
      <div class="ui icon button markdown-help" data-tooltip="Markdown Guide (Help)" data-position="top center">
        <i class="help circle icon"></i>
      </div>
    </div>
  </div><!-- end /.left-toolbar -->

  <div class="field right-toolbar">
  </div><!-- end /.right-toolbar -->
</div>
