{% load static %}
{% load martortags %}
<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>Test Markdonify :: Martor</title>
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/semantic.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <style>
    .main-container {margin-top: 7em}
  </style>

  <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
</head>
<body>
  <header>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <div class="header item">Martor</div>
        <a class="item" href="https://github.com/agusmakmun/django-markdown-editor" target="_blank">
          <i class="github icon"></i> Github
        </a>
        <div class="ui dropdown item" tabindex="0">Choose Demo
          <i class="dropdown icon"></i>
          <div class="menu transition hidden" tabindex="-1">
            <a href="{% url 'simple_form' %}" class="item">Simple Form</a>
            <a href="{% url 'post_form' %}" class="item">Post Form (login require)</a>
            <a href="{% url 'test_markdownify' %}" class="item">Test Markdownify</a>
          </div>
        </div>
        <div class="right menu">
          <div class="item">
            <div class="ui transparent inverted icon input">
              <i class="search icon"></i>
              <input type="text" placeholder="Search">
            </div>
          </div>
          <a class="item">Link</a>
        </div>
      </div>
    </div>
  </header>

  <div class="ui container main-container">
    <div class="ui segment martor-preview">
      <h1>Title: {{ post.title }}</h1>
      <p><b>Description:</b></p>
      <hr />
      {{ post.description|safe_markdown }}
    </div>
  </div>

  <script type="text/javascript" src="{% static 'plugins/js/semantic.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script>
    $('pre').each(function(i, block){
        hljs.highlightBlock(block);
    });
    $('.ui.dropdown').dropdown();
  </script>
</body>
</html>
